
   <div class="login-container">
    <mat-card>
      <mat-card-header class="login-header">
        <mat-card-title>LOGIN</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nome de usuário</mat-label>
            <input [(ngModel)]="usuario.username" name="username" matInput type="text" required>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Senha</mat-label>
            <input [(ngModel)]="usuario.password" name="password" matInput type="password" required>
          </mat-form-field>
  
          <!-- Botões -->
          <div class="button-group">
            <button (click)="login()" mat-raised-button color="primary" type="submit" class="full-width">Logar</button>
            <button routerLink="/cadastrar" mat-button color="accent" type="button" class="full-width">Cadastrar</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  