<mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Usuário</mat-label>
          <input [(ngModel)]="usuario.username" name="username" matInput placeholder="Digite seu usuário" required>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Senha</mat-label>
          <input [(ngModel)]="usuario.password" name="password" matInput type="password" placeholder="Digite sua senha"required>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit">Entrar</button>
        <button mat-raised-button color="primary" type="submit" routerLink="/cadastrar">Cadastrar</button>
      </form>
    </mat-card-content>
  </mat-card>
  