<mat-toolbar color="primary" *ngIf="isUserLoggedIn()">
    <!-- Nome da Loja -->
    <span class="toolbar-title" routerLink="/home">Loja online</span>
  
    <!-- Links de Navegação -->
    <div class="toolbar-nav">
      <a class="toolbar-button" mat-button routerLink="/home">Home</a>
      <a class="toolbar-button" mat-button routerLink="/produtos">Produtos</a>
      <a class="toolbar-button" mat-button routerLink="/carrinho">Meu Carrinho</a>
      <a class="toolbar-button" mat-button routerLink="/pedidos">Meus Pedidos</a>
    </div>
  
    <a (click)="openDialog()" mat-button class="toolbar-logout">Sair</a>
    <!-- <span class="toolbar-user">{{ usuario.username }}</span> -->
  </mat-toolbar>